.progressSpinnerVisibility {
    visibility: hidden;
}

.chartContent {
    margin-top: 5%;
    text-align: center;
}

.field {
    margin-top: 1%;
}

.select {
    width: 100% !important;
}

.visualizeButton {
    width: 100%;
}