.DS_Store
pattern4.jar
TermsCounter.jar
termsCounter.properties
VocabularyExtractor.jar

how to.txt

/output
/projects
/qualitas-metrics
termsCounter_file.properties
/extractf/target/
/extractf/nb-configuration.xml
axion-1.0-M2.zip
axion-1.0-M2
/shared/target/
/fp-detection/target/
/service/node_modules/

.RData
.Rhistory