body {
    background-color: #2196F3;
}

html {
    height: 100%;
}

.my-text {
    text-transform: capitalize;
}

.question-categoria {
    font-size: 150%;
}

.question-title {
    font-size: 280%;
    margin-right: 2%;
}

.my-card-color {
    background-color: #1976D2;
}

.align-right {
    text-align: right;
}

.my-carousel {  
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
}

div.modal-overlay {
    /* height: 100% !important; */
}

.item-resposta {
    margin: 0 4% 0 0;
    /* color: white; */
}

.resposta {
    font-size: 20px !important;
    color: white;
}

.input-color-text {
    color: white !important;
}
 .select-dropdown {
     color: white;
 }
