body {
    background-color: #2196F3;
}

.my-text {
    text-transform: capitalize;
}

.desc {
    font-size: 160%;
}

.question-categoria {
    font-size: 150%;
}

.question-title {
    font-size: 280%;
    margin-right: 2%;
}

.my-card-color {
    background-color: #1976D2;
}

img {
    width: 100%;
    max-width: auto;
    height: auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.aling-justify {
    text-align: justify;
}

.my-text-color {
    color: white !important;
}

.item-resposta {
    margin: 0 4% 0 0;
    /* color: white; */
}

.resposta {
    font-size: 20px !important;
    color: white;
}

.input-color-text {
    color: white !important;
}

.select-dropdown {
    color: white;
}

.my-row {
    margin-top: 8%;
}
