body {
    background-color: grey;
}

body#questionario {
    background-color: #edeaea;
}

.my-text {
    text-transform: capitalize;
}

.desc {
    font-size: 24px;
    text-align: justify;
}

.question-categoria {
    font-size: 160%;
}

.question-title {
    font-size: 280%;
    margin-right: 2%;
}

.question-info {
    font-size: 140%;
}

.my-card-color {
    background-color: #636262;
}

img {
    width: 100%;
    max-width: auto;
    height: auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.aling-justify {
    text-align: justify;
}

.my-text-color {
    color: white !important;
}

.item-resposta {
    margin: 0 4% 0 0;
    /* color: white; */
}

.resposta {
    font-size: 20px !important;
    color: white;
}

.input-color-text {
    color: white !important;
}

.select-dropdown {
    color: white;
}

.my-row {
    margin-top: 4%;
}

.index {
    padding: 20px;
}

.link {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid white !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #26a69a !important;
    border-bottom: 2px solid #26a69a !important;
}

@media (min-width: 601px) {
    #border_right {
        border-right: 0.5px solid white;
        padding-right: 16px;
    }
}