<% include partials/header %>

<body>
    <div class='container-fluid'>
        <div class='row center-align'>
            <h1>Muito obrigado! Você é 10!</h1>
            <img src='http://www.funnybeing.com/wp-content/uploads/2016/09/Approval-Cat-600x420.jpg' alt='' />
            <br /><br />
            <a href='/' style='font-size: 22px;'>Voltar para tela inicial</a>
        </div>
    </div>
</body>

<% include partials/footer %>
