<% include partials/header %>

<body>
    <div class='container-fluid'>
        <div class='row'>
            <h1>Hello, buddy</h1>
            <a class='waves-effect waves-light btn' href='/classification'>Iniciar!</a>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<% include partials/footer %>
