<% include partials/header %>
<body>
    <div class="container-fluid align-center index">
        <div class="row">
            <h3 class="my-text-color">Bem-vindo ao questionário</h3>
        </div>
        
        <div class="row">
            <div id="border_right" class="col s12 m6">
                <p class="my-text-color desc">
                    Questionario para Trabalho de Conclusão de Curso do aluno: <a class="link" href="https://github.com/natansevero">Natan Severo</a>. 
                    Com orientação do professor: <a class="link" href="https://github.com/ricardojob">Ricardo Job</a>
                </p>            
                <p class="my-text-color desc">Tema do trabalho: <b>Uma abordagem para detectar Falsos Padrões de Projetos</b></p>
            
                <p class="my-text-color desc">Este questionário tem o propósito de recolher informações a respeito
                de termos comumente utilizados em Padrões de Projetos</p>
            </div>
            
            <div class="col s12 m6">
                <p class="my-text-color desc">Para cada questão, você deve selecionar os termos que você que correspondem ao Padrão de Projeto da questão</p>
                <p class="my-text-color desc">Se houver alguma dúvida sobre o Padrão de Projeto, você pode clicar no botão <b>"SOBRE O PADRÃO"</b></p>
                <p class="my-text-color" style="font-size: 20px;">Clique no botão abaixo e autentique-se com o Github para
                iniciar o questionário</p>
                
                <a class="waves-effect waves-light btn grey lighten-3 black-text btn-large" href="/auth/github">
                    <i class="material-icons left">group</i>
                    Github
                </a>
            </div>
        </div>
    </div>
    
    <!--
    <form name="usuario" action="/usuario/cadastrar" method="post">
        <label for="formacao">Formação:</label> 
        <select name="formacao">
            <option value="bacharelato-tecnologo">Bacharelato ou Tecnólogo</option>
            <option value="mestrado">Mestrado</option>
            <option value="doutorado">Doutorado</option>
        </select> 

        <br><br>

        <label for="experiencia">Tempo de experiencia com padrões de projeto:</label>
        <select name="experiencia">
            <option value="0-1">Menos de 1 ano</option>
            <option value="1-3">1 a 3 anos</option>
            <option value="3-5">3 a 5 anos</option>
            <option value="5-#">Mais de 5 anos</option>
        </select>

        <br><br>

        <button type="submit">Iniciar Questionario</button>
    </form>-->
</body>

<% include partials/footer %>
