<% include partials/header %>
    <div class="container-fluid align-center index">
        <div class="row">
            <h3 class="my-text-color">Questionário finalizado</h3>
        </div>

        <div class="row">
            <p class="my-text-color desc">
                Muito obrigado por contribuir!
            </p>
            <p class="my-text-color desc">
                Suas repostas serão muito úteis para a nossa pesquisa sobre <b>Falsos Padrãos de Projetos<b>
            </p>
        </div>
    </div>

<% include partials/footer %>
