.menubar {
    padding: 10px 0 10px 0 !important;
    background-color: teal !important;
    color: white;
}

.menubar span {
    vertical-align: middle;
}

.iconBarSize {
    vertical-align: middle;
    font-size: 26px;
    background-color: transparent;
    border: 0ch;
    color: white !important;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.iconBarSize i {
    vertical-align: middle;
}

.title {
    font-size: 24px;
    font-weight: bold;
}