<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <form name="login_admin" action="/admin/logar" method="post">
        <label for="usaurio">Usuario:</label>
        <input type="text" name="usuario" /> 
        <br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" />
        <br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>