<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>

    <a href="/admin/padrao">Cadastrar Padrão</a>
    <br>
    <a href="/admin/logout">Sair</a>

    <br><br>

    <h1>Dashboard</h1>
</body>
</html>