<% include ../partials/header %>
    <style>
        .border {
            border: 1px solid black;
        }
    </style>

    <div class="container-fluid">
        <nav class="indigo accent-2">
            <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/admin/padrao/cadastrar-padrao">Cadastrar Padr達o</a></li>
                <li><a href="/admin/padrao/atualizar-padrao">Atualizar Padr達o</a></li>
                <li><a href="/admin/logout">Sair</a></li>
            </ul>
            </div>
        </nav>

        <h1>Dashboard</h1>
        <h4>Respostas</h4>
        
        <div class="row">
            <div class="input-field col s4">
                <select name="categoria" id="categoria">
                    <option value="none">none</option>
                    <option value="criacional">criacional</option>
                    <option value="estrutural">estrutural</option>
                    <option value="comportamental">comportamental</option>
                </select>
                <label for="categoria">Categoria:</label>
            </div>

            <div class="input-field col s4">
                <select name="padrao" id="padrao">
                    <option value="none">none</option>
                    <optgroup label="Criacional">
                        <option value="builder">builder</option>
                        <option value="factory method">factory Method</option>
                        <option value="prototype">prototype</option>
                        <option value="singleton">singleton</option>            
                    </optgroup>
                            
                    <optgroup label="Estrutural">
                        <option value="adapter">adapter</option>
                        <option value="bridge">bridge</option>
                        <option value="composite">composite</option>
                        <option value="decorator">decorator</option>
                        <option value="proxy">proxy</option> 
                        <option value="chain">chain</option>
                    </optgroup>

                    <optgroup label="Comportamental">
                        <option value="command">command</option>
                        <option value="observer">observer</option>
                        <option value="state">state</option>
                        <option value="strategy">strategy</option>
                        <option value="template method">template Method</option>
                        <option value="visitor">visitor</option>
                    </optgroup>
                </select>
                <label for="padrao">Padr達o de projeto:</label>            
            </div> 

            <button type="button" class="btn col m2" onclick="call();">Buscar</button>
        </div>
        
        <div class="row">
            <div id="tabulacao">
            
            </div>
        </div>

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });

        async function fetchDatas(link, data) {
            let response = await fetch(link, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })

            return await response.json()        
        }

        async function call() {
            let categoria = document.getElementById('categoria').value
            let padrao = document.getElementById('padrao').value
            console.log(categoria, padrao)
            let result = await fetchDatas('https://termsq.herokuapp.com/admin/dashboard/buscar/', { 
                categoria: categoria, 
                padrao: padrao
            })

            let partOneHeader = `
                <div class="row">
                    <div class="col s4"><b>ID</b></div>
                    <div class="col s4"><b>Email</b></div>
                    <div class="col s4"><b>Repositorio publicos</b></div>
                </div>
            `

            let partTwoHeader = `
                <div class="row">
                    <div class="col s4"><b>Categoria</b></div>
                    <div class="col s4"><b>Padrao</b></div>
                    <div class="col s4"><b>Resposta</b></div>
                </div>
            `

            let partThreeHeader = `
                <div class="row">
                    <div class="col s4"><b>Padr達o</b></div>
                    <div class="col s4"><b>Tipo</b></div>
                    <div class="col s4"><b>Nome</b></div>
                </div>
            `

            let finalHtml = "";

            for(let i = 0; i < result.length; i++){
                let partOne = "";
                partOne += partOneHeader;
                partOne += '<div class="row border"> <div class="col m4">' + result[i]._id + '</div> <div class="col m4">' + result[i].email + '</div>  <div class="col m4">' + result[i].public_repos + '</div>  </div>'

                let partTwo = ""
                partTwo += partTwoHeader
                for(let j = 0; j < result[i].resposta.length; j++) {
                    partTwo += '<div class="row border">'
                    
                    partTwo += '<div class="col m4">' + result[i].resposta[j].categoria + '</div>'
                    partTwo += '<div class="col m4">' + result[i].resposta[j].padrao + '</div>'
                    partTwo += '<div class="col m4">'
                    for(let termo of result[i].resposta[j].termos) {
                        partTwo += termo + '<br>'                                 
                    }
                    
                    partTwo += '</div> </div>'
                }

                let partThree = "";
                partThree += partThreeHeader
                let suguestao = result[i].suguestao;

                for(let sug of suguestao) {
                    partThree += '<div class="row border">'
                    
                    partThree += '<div class="col m4">' + sug.padrao + '</div>'
                    partThree += '<div class="col m4">' + sug.tipo + '</div>'
                    partThree += '<div class="col m4">' + sug.nome + '</div>'
                    
                    partThree += '</div>'
                }
                    
                // Final 
                finalHtml += partOne
                finalHtml += partTwo
                finalHtml += partThree
                finalHtml += '<br /> <hr> <br />'
            }

            document.getElementById('tabulacao').innerHTML = finalHtml;
        }
    </script>
<% include ../partials/footer %>
