.header {
    background-color: teal;
    color: white;
    padding: 20px 10px 20px 10px;
}

.header span {
    margin-left: 10px;
    font-size: 26px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}