html {
    background-color: #ededed;
    min-width: 100%;
}

body {
    overflow: hidden; 
    margin: 0;
}

.code-section {
    overflow-y: scroll !important;
    height: 675px;
}

pre {
    width: 100%;
    margin-top: 0;
    padding-left: 16px !important;
    font-size: 12px;
    display: inline-table;
    white-space: pre-wrap;
    line-height: 1.6;
    /* background-color: #fffefe; */
}

.steps {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10%;
}

.response {
    text-align: center;
    margin-top: 20%;
    padding-right: 10px;
}

.entidade {
    word-wrap: break-word;
    font-size: 24px;
    font-weight: bold;
}

.pergunta {
    font-size: 22px;
}

.buttons {
    margin-top: 6%;
}

.buttons button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 600px) {
    .response {
        margin-top: 10%;
    }

    body {
        overflow: auto; 
        margin: auto;
    }
}

/* Index view */
.index {
    padding: 20px;
}

.modal-content {
    padding-bottom: 0 !important;
}

.modal-content p {
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
}

.modal-content img {
    margin-top: 20px;
}

.desc {
    font-size: 24px;
    /* text-align: justify; */
    margin-bottom: 30px;
    line-height: 1.3;
}

.link {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.startButton {
    /* margin-top: 25px; */
}